
bin/
lib/
build/

shader/compiled
image/
se/
font/

.dub/
dub.selections.json

*.[oa]
*.exp
*.obj
*.pdb

*.exe
*.so
*.so.*
*.dylib
*.dll
*.lib

# font
*.ttf
*.otf
# model
*.obj
*.gltf

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
desktop.ini
.DS_Store
Thumbs.db
